[submodule "module00"]
	path = module00
	url = https://github.com/Ishi-eenn/CPP-Module00.git
[submodule "module01"]
	path = module01
	url = https://github.com/Ishi-eenn/CPP-Module01.git
[submodule "module02"]
	path = module02
	url = https://github.com/Ishi-eenn/CPP-Module02.git
[submodule "module03"]
	path = module03
	url = https://github.com/Ishi-eenn/CPP-Module03.git
